.transport-select-container { margin: 1rem 0 1rem; }
.transport-button-selected, .transport-button-selected * { color: #b64b4b; }
.transport-button {
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  md-icon { font-size: 3rem; margin-bottom: 2rem; }
  span { font-size: 1rem; letter-spacing: 5px; }
}